* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
   
    body {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        background-color: #faf0d9;
        }
        ol {
            list-style: none;
             }
            
             .head {
             display: flex;
             align-items: center;
             justify-content: space-between;
            height: 63px;
            background: #E1DACA;
            position: block;
            width: 100%;
            z-index: 100%;
             }
            
             .navbar {
            display: flex;
            margin-right: 10px;
             }
            
            .logo {
            margin-left: 30px;
            }
            
             .logo a {
            text-decoration: none;
            color: #B29079;
            text-transform: uppercase;
            font-size: 20px;
             }
            
             .navbar a {
            display: block;
            padding: 23px 20px;
            color: #F6F5EC;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
             }
            
             .navbar a:hover {
                background: #3f3f3f;
             }
            
             .header {
                display: flex;
                justify-content: center;
                align-items: center;
             }
            
             .header {
             height: 60vh !important;
             background-color:#faf0d9;
             background-attachment: fixed;
             }
            
             .title {
            margin-bottom: 40px;
            font-size: 60%;
            font-weight: 600;
            text-transform: uppercase;
            color: #a6a6a6;
             }
            
             p {
            margin-bottom: 40px;
            font-size: 18px;
            color: #a6a6a6;
            padding: 0 100px;
             }
            
             .btn {
             display: inline-block;
             margin-top: 15px;
             padding: 10px 40px;
             border: 2px solid #f5c09d;
            color: aliceblue;
            text-decoration: none;
            background: #f5c09d;
             }
            
            .btn:hover {
            background: none;
            }
            
             .btn-home {
            display: flex;
             }
            
             .btn-home a {
            margin: 0 10px;
            
             }
            
            .content {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
            
            .sau {
            padding: 30px;
            background: #faf0d9;
            }
            
            .box-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            }
            
            .box-container .box {
            height: 17rem;
            width: 17rem;
            background-color: #e7e1d3;
            text-align: center;
            border-radius: 1rem;
            box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
            margin: 2rem;
            }
            
            .box-container .box i {
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            text-align: center;
            border-radius: 50%;
            color: aliceblue;
            background: #c5bf8b;
            font-size: 2rem;
            margin: 1rem 0;
            }
            
            .box-container .box h3 {
            font-size: 20px;
            color: #E1DACA;
            }
            
            .box-container .box p {
                padding: 15px;
                font-size: 15px;
            }
            
            .about {
            background: #e7e1d3;
            }
            
            .price {
            background: #e7dec8;
             background-attachment: fixed;
             background-size: cover;
             text-align: center;
            }
            
            .contact {
            
            padding-top: 20px;
            background-color: #cfcabf;
            background-size: cover;
            padding-top: 0;
            }
            
            @media (max-width: 760px) {
            
                 .title {
                    margin-bottom: 0;
                    font-size: 40px;
                }
                .sau {
                    height: 120vh;
                }
                .navbar {
                    display: none;
                }
                
            }